h1= title
p Hey #{user}, here are the latest questions.

form( action:'/ask', method:'post' )
  input( type:'text', name:'question', value:'Ask a question')
  input( type:'submit', value: 'ask' )

- for (var index in questions)
  ul#questions
    li#question
      a(class='vote',href='#') vote!
      h1.title= questions[index]['title']
      span.time= questions[index]['time']
