h1= title
p Welcome to #{title}

form( action:'/ask', method:'post' )
  input( type:'text', name:'question-title', value:'Ask a question')
  input( type:'submit', value: 'ask' )

- for (var index in questions)
  ul#questions
    li#question
      h1.title= questions[index]['title']
      span.time= questions[index]['time']
     
