!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src: '/socket.io/socket.io.js')
    script(src: '/javascripts/socketconnect.js')
    script(src:
'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js')
  body!= body
