form( action:'/login' method:'post' )
  input( type: 'text', name:'username', value:'Your username')
  input( type: 'text', name:'password', value:'Your password')
  input( type: 'submit', value: 'login')
