#login
  h1 Sign Up!
  form( action:'/signup', method:'post' )
    input( type: 'text', name:'username', value:'Your username')
    input( type: 'password', name:'password', value:'Your password')
    input( type: 'submit', value: 'Create Account')
